
a{
  color: #9670f4;
}


.App-header {
  margin: 30px 0;
}

.gummy {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: -30px;
}

.App-footer {
  text-align: center;
  margin: 20px 0;
  
}

small {
  display: block;
  text-align: center;
  color: #a275e3;
  
}
    
.links{
  color: #fa86be;
  text-decoration: none;
  
}